*.a
*.cmake
*.txt
*.sln
*.vcxproj*
.vscode/*
.vs/*
**/CMakeFiles/*
**/Makefile
build/*
lib/*
**/myapp
**/testfoo
**/gtest/*
**/Debug/*
**/Release/*
**/MinSizeRel/*
**/RelWithDebInfo/*
**/*.dir/*
**/x64/*